<html>
<head>
  <title>Edit User</title>
</head>
<body>
  <h1>Edit User</h1>
  <form action='/users/{{user.id}}/update' method='POST'>
    {% csrf_token %}
  <table>
    <tr>
      <th>First Name:</th>
      <th>Last Name:</th>
      <th>Email:</th>
    </tr>
    <tr>
      <td><input type="text" name="fname" value={{user.first_name}}></td>
      <td><input type="text" name="lname" value={{user.last_name}}></td>
      <td><input type="text" name="email" value={{user.email}}></td>
    </tr>
    <tr>
      <td><input id="submit" type="submit" value="Edit"></td>
    </tr>
  </table>
  <a href="/users">Go back to users</a>


  </form>
</body>
</html>